{% extends 'base.html' %}

{% block title%}Close booking{%endblock title%}
{% block username %}{{ request.user.username }}{% endblock username %}
{% block terminal %}{{ request.session.uterminal }}{% endblock terminal %}
{%block body%}
<div class="container">
    <h1>Close Booking</h1>
    <hr>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    <div class="row">
        <form method="post" name="time" class="mx-auto" id="add-time" action="">
            {% csrf_token %}
            <div class="my-2 mx-auto row">
                <label for="inputTime" class="col-sm-4 col-form-label text-end">Time to add: </label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="inputTime" name="inputTime" min="1" max="720" placeholder="Mention time in minutes e.g. 10, 20 or 30" required>
                </div>
                <div class="col-sm-4 my-auto text-start">
                <button type="submit" name="add-time" class="btn btn-dark btn-md">Add</button>
                </div>
            </div>
        </form>
    </div>
    {% if schedule %}
    <div class="voucher" id="voucher">
        <div class="text-center">
        <h1 style="text-align:center;">MBM</h1>
        {% comment %} <p style="text-align:center;"><strong>Voucher:</strong> <span id="bill-voucher">{{ billdata.voucher}}</span></p> {% endcomment %}
        <p id="bill-route" style="text-align:center;"><strong>Route:</strong> {{schedule.route_assg_bus.route}}</p>
        <p id="bill-departure" style="text-align:center;"><strong>Departure:</strong> {{schedule.departure.date}} - {{schedule.departure.time}}</p>
        <p id="bill-bus" style="text-align:center;"><strong>Bus:</strong> {{schedule.route_assg_bus.bus}}</p>
        <p style="text-align:center;"><strong>Issued By:</strong> {{ request.user.id }}</p>
        </div>
        <table style="width:100%;">
            <thead>
                <tr>
                    <th style="border:1px solid #000;text-align:center;" class="seat">Total Seats</th>
                    <th style="border:1px solid #000;text-align:center;" class="gender">Occupied seats</th>
                    <th style="border:1px solid #000;text-align:center;" class="qty">fare</th>
                    {% comment %} <th style="border:1px solid #000;text-align:center;" class="price">PKR</th> {% endcomment %}
                </tr>
            </thead>
            <tbody id="bill-body">
                <tr>
                    <td style="border:1px solid #000;text-align:center;" id="seatnumber">{{ route_bus.bus.seating_capacity }}</td>
                    <td style="border:1px solid #000;text-align:center;" id="seatgender">{{ tickets }}</td>
                    <td style="border:1px solid #000;text-align:center;" id="seatqty">{{ fare }}</td>
                    {% comment %} <td style="border:1px solid #000;text-align:center;" id="seatprice">{{ billdata.fare }}</td> {% endcomment %}
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>TOTAL</b></td>
                    {% comment %} <td style="border:1px solid #000;text-align:center;" id="totalprice">{{ billdata.total }}</td> {% endcomment %}
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{%endblock body%}